.section {
  width: 100%;
  padding-bottom: 10rem;
}
.container {
  width: 40%;
  margin: 0 auto;
  padding: 1rem;
}
.container header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #008080;
  padding: 2rem 1rem;
  border-radius: 0.4rem;
}
.container header span {
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
}
.container header a {
  color: #fff;
  font-weight: bold;
  font-size: 1.1rem;
}
.account {
  width: 100%;
  background: #fff;
  padding: 1rem 1rem 6rem;
  margin: 1rem 0;
  border-radius: 0.4rem;
}
.account h1 {
  text-align: center;
  font-weight: normal;
}
.account form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 60%;
  margin: 2rem auto;
}
.detail {
  display: flex;
  position: relative;
  gap: 1rem;
  align-items: center;
  border-bottom: 1px solid #333;
}
.detail label {
  font-size: 1.2rem;
  color: #333;
}
.detail input {
  padding: 1rem;
  border: none;
  outline: none;
  font-size: 1rem;
}
.detail span {
  position: absolute;
  right: 0;
}
.account form p {
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  color: green;
  cursor: pointer;
  margin: 1rem 0;
}
.account form button {
  padding: 1rem;
  font-size: 1.2rem;
  width: 80%;
  margin: 2rem auto;
  border: none;
  color: #fff;
  font-weight: bold;
  border-radius: 1rem;
  background: #008080;
  transition: transform ease-in 0.2s;
}
.account form button:active {
  transform: scale(0.8);
}

@media (max-width: 850px) {
  .section {
    padding-bottom: 15rem;
  }
  .container {
    width: 90%;
  }
  .account form {
    width: 100%;
  }
}
