.section {
  width: 90%;
  padding: 1rem 0;
  margin: 4.5rem auto 3rem;
}
.title {
  text-align: start;
  display: flex;
  align-items: flex-start;
  font-size: 1.2rem;
  color: #333;
  /* justify-content: center; */
}
.section hr {
  border: none;
  border-bottom: 1px solid #ccc;
  margin-bottom: 2rem;
}
.section h1 {
  margin: 1rem 0;
  text-align: center;
  font-size: 1.3rem;
  text-transform: capitalize;
}
.rest {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.favorite {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.favorite p {
  background: #fff;
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 1rem;
  padding: 0.3rem 1rem;
  border-radius: 0.4rem;
}
.favorite p span {
  display: flex;
  color: gold;
  font-size: 1.2rem;
  align-items: center;
}
.favSpan {
  color: green;
  background: #fff;
  padding: 0.4rem;
  border-radius: 50%;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
}
.restaurant {
  /* position: relative; */
  width: 30%;
  background: #fff;
  padding: 1rem;
  border-radius: 0.4rem;
}

.content {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.content img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.desc {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.desc h1 {
  margin: 0;
  font-size: 1.5rem;
  text-transform: capitalize;
  text-align: start;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.desc h1 span {
  color: blue;
  display: flex;
  align-items: center;
}
.address {
  margin: 1rem 0;
}
.address address {
  font-size: 0.9rem;
  text-transform: capitalize;
  text-align: start;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.address span {
  color: green;
  display: flex;
  align-items: center;
  font-weight: bold;
}
.delivery {
  margin-top: -1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.descs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.descs h2 {
  font-size: 1rem;
  font-weight: normal;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.delivery h2 {
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.descs h2 span {
  font-size: 1rem;
  display: flex;
  align-items: center;
  color: green;
}
.delivery h2 span {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  color: gold;
}
.delivery p {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: green;
  font-weight: bold;
}
.delivery p span {
  font-size: 1rem;
  display: flex;
  align-items: center;
  color: green;
}
.simi {
  width: 30%;
  background: #fff;
  padding: 1rem;
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-out;
}
.simi:hover {
  opacity: 0.8;
}
.simi .image {
  width: 100px;
  position: relative;
}
.simi .image img {
  width: 100%;
  height: 110px;
  object-fit: cover;
  border-radius: 0.5rem;
}
.simi .adds {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}
.simi .adds span {
  border: 2px solid green;
  padding: 0.3rem;
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.image {
  width: 100%;
  position: relative;
}
.image img {
  width: 100%;
  height: 100px;
  object-fit: cover;
}
.contents {
  flex: 1;
  text-align: start;
  height: 100px;
}

.contents h1 {
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0;
  text-transform: capitalize;
  text-align: start;
}
.contents h2 {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
}
.mealFavorite {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}
.mealFavorite p {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
}
.mealFavorite p span {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  color: gold;
}
.mealFavorite h2 {
  font-size: 0.8rem;
  font-weight: 600;
  margin: 0;
  text-transform: capitalize;
  color: green;
}
.mealcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  width: 100%;
}
.food {
  width: 40%;
  margin: 2rem auto;
  padding: 1rem;
  position: relative;
}
.price,
.cart,
.add {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.price {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.price span {
  font-size: 1rem;
  background: red;
  color: #fff;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 1rem;
}
.cart {
  justify-content: space-between;
  margin: 1.5rem 0;
}
.cart button {
  padding: 1rem;
  border: none;
  color: #fff;
  font-weight: bold;
  background: green;
  border-radius: 0.4rem;
  cursor: pointer;
  font-size: 1rem;
}
.add {
  /* border: 1px solid #ccc; */
  padding: 0.6rem 1rem;
  border-radius: 1rem;
  font-size: 1.1rem;
}
.add span {
  cursor: pointer;
  font-size: 1.1rem;
  border: 2px solid green;
  border-radius: 50%;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  color: green;
  font-weight: bold;
}
.images {
  width: 100%;
  position: relative;
}
.images img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.rating {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  position: relative;
}
.imgs {
  /* position: absolute; */
  width: 100%;
}
.imgs img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
.logo_img {
  position: absolute;
  top: -27%;
  left: 2%;
}
.rate {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.1rem;
  color: #000;
  font-weight: bold;
}
.black {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);
}

.prices {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.prices span {
  font-weight: 600;
  font-size: 1.1rem;
}
.mealTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mealTitle h1 {
  font-weight: 500;
  font-size: 1.1rem;
}
.addFavorite {
  display: flex;
  align-items: center;
  position: absolute;
  top: 2%;
  /* right: 0; */
  justify-content: space-between;
  width: 100%;
}

.mealRating {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.star {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.star span {
  font-size: 1.2rem;
  color: gold;
}
.mealDescription {
  text-align: start;
  margin: 1rem 0;
}
.mealDescription h1 {
  text-align: start;
  font-size: 1.1rem;
  font-weight: 500;
}
.mealDescription p {
  font-size: 1rem;
  text-transform: capitalize;
  width: 90%;
}

@media (max-width: 850px) {
  .section {
    margin: 3rem auto;
    width: 100%;
  }
  .rest {
    flex-direction: column;
  }
  .restaurant {
    width: 100%;
  }
  .desc h1 {
    font-size: 1.1rem;
  }
  .delivery p {
    font-size: 1rem;
  }
  .delivery h2 {
    font-size: 1rem;
  }
  .content,
  .address {
    width: 95%;
    margin: auto;
  }
  .content h1 {
    font-size: 1rem;
  }
  .simi {
    width: 100%;
  }
  .food {
    width: 100%;
  }
}
