.section {
  width: 95%;
  margin: 5rem auto;
}
.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title h1 {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: capitalize;
}
.title a {
  display: flex;
  gap: 1rem;
  font-size: 1rem;
  color: green;
  font-weight: 500;
  align-items: center;
  text-transform: capitalize;
}
.title a span {
  display: flex;
  align-items: center;
}
.container {
  width: 100%;
  display: flex;
}
.restaurant {
  width: 80%;
  background: #fff;
  padding: 1rem;
  border-radius: 0.4rem;
  cursor: pointer;
}
.image {
  width: 100%;
  transition: transform 0.2s ease-out;
}
.image:hover {
  transform: scale(1.1);
}
.image img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
.content {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.content img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.desc {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0.4rem 0;
  gap: 0;
  background: #fff;
}
.desc h1 {
  font-size: 1.2rem;
  margin: 0;
  display: flex;
  align-items: center;
  font-weight: 600;
  gap: 0.5rem;
  text-transform: capitalize;
}
.desc h1 span {
  display: flex;
  align-items: center;
  color: blue;
}
.delivery {
  /* margin-top: -1rem; */
  margin: 0;
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: space-between;
}
.delivery h2 {
  font-size: 1rem;
  font-weight: normal;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.delivery h2 span {
  font-size: 1rem;
  display: flex;
  align-items: center;
}
.delivery p {
  font-size: 1rem;
  color: green;
  font-weight: 500;
}
.mobile {
  display: none;
}
@media (max-width: 850px) {
  .large {
    display: none;
  }
  .mobile {
    display: block;
  }
  .title h1 {
    font-size: 1rem;
  }
  .restaurant {
    width: 100%;
  }
  .desc h1 {
    font-size: 0.8rem;
  }
  .delivery p {
    font-size: 0.6rem;
  }
  .delivery h2 {
    font-size: 0.6rem;
  }
  .image:hover {
    transform: scale(1);
  }
}
